<div class="task-card">
  <div class="task-group group" style="background-color: {{ task.taskGroup.color }};">{{ task.taskGroup.name }} </div>
  <div class="task-top">
    <div class="task-name"> {{ task.name }} </div>
    {% if task.isDone %}
      <div class="task-status status-done"></div>
    {% else %}
      <div class="task-status status-pending"></div>
    {% endif %}
    
  </div>
  <div class="taks-middle">
    <div class="task-tags">
      {% for tag in task.tags %}
        <div class="tag"> {{ tag.name }} </div>
      {% endfor %}
    </div>
    {# 
    {% if task.description %}
        <div class="task-description"> {{ task.description }} </div>
    {% endif %}
    <div class="task-desc"> {{ task.description }} </div>
    #}
  </div>
  <div class="task-bottom">
    {% if task.date %}
      <div class="task-date"> {{ task.date|date("d/m/Y") }} </div>
      <span> - </span>
    {% endif %}
    <div class="task-urgency rating"> {% include "main/components/rating.html.twig" with {'value': task.urgency, 'max': 5} %} </div>
    <span> - </span>
    
    <div class="task-signifiance rating"> {% include "main/components/rating.html.twig" with {'value': task.signifiance, 'max': 5} %} </div>
  </div>
</div>