<div class="task-card {{ (task.isDone) ? 'task-done' : '' }}">
  <div class="task-group group" style="background-color: {{ task.taskGroup.color }};">{{ task.taskGroup.name }} </div>
  <div class="task-top">
    <div class="task-name"> {{ task.name }} </div>
    <div class="task-top-right">
      <a href="{{ path('app_edit_by_id', {id: task.id}) }}">Edit</a> {# TODO : Add a pictogram instead of basic text #}
      {% if task.isDone %}
        <div class="task-status status-done"></div>
      {% else %}
        <div class="task-status status-pending"></div>
      {% endif %}
    </div>
  </div>
  <div class="taks-middle">
    <div class="task-tags">
      {% for tag in task.tags %}
        <div class="tag"> {{ tag.name }} </div>
      {% endfor %}
    </div>
    {% if task.description %}
        <div class="task-description"> {{ task.description }} </div>
    {% endif %}
  </div>
  <div class="task-bottom">
    {% if task.date %}
      {% if task.date|date("Y-m-d") < "now"|date("Y-m-d")%}
        <div class="task-date task-date-deadline-exceeded">
      {% else %}
        <div class="task-date">
      {% endif %}
      
       {{ task.date|date("d/m/Y") }} </div>
      <span> - </span>
    {% endif %}
    <div class="task-urgency rating"> {% include "main/components/rating.html.twig" with {'value': task.urgency, 'max': 5} %} </div>
    <span> - </span>
    
    <div class="task-signifiance rating"> {% include "main/components/rating.html.twig" with {'value': task.signifiance, 'max': 5} %} </div>
  </div>
</div>