{% extends 'base.html.twig' %}

{% block title %}
DoIt - 
{% if task|default(null) %} {# Check if editing or creating #}
    Edit Task
  {% else %}
    Create Task
  {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/taskForm.css') }}">
{% endblock %}

{% block body %}
<div id="form-container">
{{ form_start(task_form) }}
  <h2>
  {% if task|default(null) %} {# Check if editing or creating #}
    Edit Task
  {% else %}
    New Task
  {% endif %}
  </h2>

  <div class="form-field task-form-field">
    <label for="name">Name :</label>
    <input 
      type="text"
      name="{{ field_name(task_form.name) }}"
      id="{{ field_id(task_form.name) }}"
      value="{{ field_value(task_form.name) }}"
      placeholder="Name"
    >
  </div>
  <div class="form-field task-form-field">
    <label for="name">Date :</label>
    <input 
      type="datetime-local"
      step="1"
      name="{{ field_name(task_form.date) }}"
      id="{{ field_id(task_form.date) }}"
      {% if field_value(task_form.date) %}
      value="{{ field_value(task_form.date)|date("Y-m-d\\TH:i:s" , "Europe/Paris") }}"
      {% endif %}
    >
  </div>
  <div class="form-field task-form-field">
    <label for="name">Sigifiance :</label>
    <input 
      type="range"
      min="1"
      max="5"
      step="1"
      name="{{ field_name(task_form.signifiance) }}"
      id="{{ field_id(task_form.signifiance) }}"
      value="{{ field_id(task_form.signifiance) }}"
    >
  </div>
  <div class="form-field task-form-field">
    <label for="name">Urgency :</label>
    <input 
      type="range"
      min="1"
      max="5"
      step="1"
      name="{{ field_name(task_form.urgency) }}"
      id="{{ field_id(task_form.urgency) }}"
      value="{{ field_id(task_form.urgency) }}"
    >
  </div>
  <div class="form-field task-form-field">
    <label for="name">Done :</label>
    <input 
      type="checkbox"
      name="{{ field_name(task_form.isDone) }}"
      id="{{ field_id(task_form.isDone) }}"
      value="{{ field_id(task_form.isDone) }}"
    >
  </div>
  {# TODO :
    + Display only if "done" is checked
    + Default on today's date
  #}
  <div class="form-field task-form-field">
    <label for="name">Done on :</label>
    <input 
      type="datetime-local"
      step="1"
      max="{{ "now"|date("Y-m-d\\TH:i:s" , "Europe/Paris") }}"
      name=" {{ field_name(task_form.doneDate) }} "
      id="{{ field_id(task_form.doneDate) }}"

      {% if field_value(task_form.doneDate) %}
      value="{{ field_value(task_form.doneDate)|date("Y-m-d\\TH:i:s" , "Europe/Paris") }}"
      {% endif %}
    >
  </div>
  {# TODO : Add group selector #}
  {# TODO : Add checkbox tags selector #}

{{ form_end(task_form) }}
</div>
{% endblock %}
